body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #fafcff;
  color: #20232b;
}
h1,
h2,
h3 {
  font-family: "Segoe UI", Arial, sans-serif;
  display: "block";
  width: "62px";
  height: "5px";
  margin: "14px auto 0";
  border-radius: "3px";
  background: "linear-gradient(90deg, #46a6fd 0%, #38e8ff 100%)";
  animation: "movegrad 2.3s linear infinite";
}
a {
  color: #3a7bfd;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
section {
  max-width: 800px;
  margin: 0 auto 2rem auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
}
